<!DOCTYPE html>
<html lang="pt">
<head>
<meta charset="UTF-8">
<title>SignUp</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css" />
    <script src="https://code.angularjs.org/1.3.0-rc.2/angular.js"></script>
    <script src="https://code.angularjs.org/1.3.0-rc.2/angular-messages.js"></script>
   
</head>
<body ng-app="validation">

<div class="container">    

<div id="signupbox" style="display:block; margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
<div class="panel panel-info">
<div class="panel-heading">
    <div class="panel-title">Sign Up</div>
    <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="#/">Sign In</a></div>
</div>  
<div class="panel-body" >
   <form name="registrationForm" novalidate 
          ng-submit="gravarUser(registration.user)">
       <div class="form-group">
            <label>User Name</label>
            <input type="text" name="username" class="form-control" ng-model="registration.user.user" required />
            <div ng-messages="registrationForm.username.$error" ng-messages-include="./messages.html"></div>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" name="password" class="form-control" ng-model="registration.user.pass" required />
            <div ng-messages="registrationForm.password.$error" ng-messages-include="messages.html"></div>
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" name="confirmPassword" class="form-control" 
                   ng-model="registration.user.confirmPass" 
                   required compare-to="registration.user.pass" />
            <div ng-messages="registrationForm.confirmPassword.$error" ng-messages-include="messages.html"></div>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary"/>
        </div>
    </form> 
 </div>
</div>
</div> 
</div>
