.body-img{
    width: 100%;
    height:  650px;        
    background-image: url(../../img/fundos/fundo2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;    
    filter: alpha(opacity=40);
}
.teste{
    width: 60%;
    border: 1px solid black;
}

#btn-learn{
    width: 150px;
    padding: 15px;
    border: 2px solid white;
    background-color: transparent;
    border-radius: 15px;
    color: white;    
    text-align: center;
    cursor: pointer;  
    
}
#btn-learn:hover{
    background-color: white;
    color: black;
}
#btn-sign-up{
    background-color: transparent;
    width: 150px;
    padding: 15px;
    border: 2px solid white;
    border-radius: 15px;
    color: white;        
    text-align: center;
    cursor: pointer;        
    
}
#btn-sign-up:hover{
    background-color: white;
    color: black;
}
.buttons{    
    margin-left: 38%;
}



